{% extends 'portfolio/base.html' %}
{% load static %}
{% load modulo %}

{% block artpieces %}
    <div class="column">
        {% for piece in pieces %}
            {% if forloop.counter|modulo:3 == 1 %}
                <a href="{% url 'piece_detail' pk=piece.pk %}"><img src="{% get_media_prefix %}{{ piece.image }}"></a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="column">
        {% for piece in pieces %}
            {% if forloop.counter|modulo:3 == 2 %}
                <a href="{% url 'piece_detail' pk=piece.pk %}"><img src="{% get_media_prefix %}{{ piece.image }}"></a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="column">
        {% for piece in pieces %}
            {% if forloop.counter|modulo:3 == 0 %}
                <a href="{% url 'piece_detail' pk=piece.pk %}"><img src="{% get_media_prefix %}{{ piece.image }}"></a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}