{% load static %}
{% load modulo %}
<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    </head>
    <body>
        <h1>Portfolio</h1>
        <div class="column">
            {% for piece in pieces %}
                {% if forloop.counter|modulo:3 == 1 %}
                    <img src="{% get_media_prefix %}{{ piece.image }}">
                {% endif %}
            {% endfor %}
        </div>
        <div class="column">
            {% for piece in pieces %}
                {% if forloop.counter|modulo:3 == 2 %}
                    <img src="{% get_media_prefix %}{{ piece.image }}">
                {% endif %}
            {% endfor %}
        </div>
        <div class="column">
            {% for piece in pieces %}
                {% if forloop.counter|modulo:3 == 0 %}
                    <img src="{% get_media_prefix %}{{ piece.image }}">
                {% endif %}
            {% endfor %}
        </div>

    </body>
</html>