body {
    background-color: #e5e6e5;
    font-family: 'Amatic SC', cursive;
}

img {
    display: block;
    margin-left: auto;
    margin-top: 150px;
    margin-right: auto;
    width: 450px;
}

h1 {
    color: #8d8e8d;
    text-align: center;
    font-size: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    color: #8d8e8d;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    color: #2966a3;
    text-decoration: none;
}

#navigation {
    margin: auto;
    width: 450px;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin:auto;
    background-color:#1c4757;
}
.dropdown button {
    background-color: #ffffff;
    color: #8d8e8d;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    margin: auto;
    width: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown-btn {
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    margin: auto;
    width: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.external_link_img {
    visibility: hidden;
    margin: 0;
    position: absolute;
}

.external_link:hover .external_link_img {
    visibility: visible;
}

.sm_links {
    text-align: center;
}
.sm_img {
    display: inline-block;
    margin-top: 75px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 30px;
}

footer {
    text-align: center;
    font-size: 23px;
}
