* {
    box-sizing: border-box;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.page-header {
    background-color: #e5e6e5;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-size: 50pt;
    font-weight: bold;
    color: #8d8e8d;
    text-decoration: none;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Amatic SC', cursive;
    color: #8d8e8d;
}

a {
    font-family: 'Amatic SC', cursive;
    color: #8d8e8d;
    text-decoration: none;
    font-size: 30px;
}

a:hover {
    color: #42548a;
    text-decoration: none;
}

.column {
    float: left;
    width: 33.3%;
    text-align:center;
    padding: 5px;
}

img {
    width: 100%;
    padding-bottom: 10px;
}

.showcase_img {
    overflow: auto;
    text-align: center;
    margin-bottom: 25px;
}

.showcase_img img {
    width: 750px;
    padding-bottom: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.showcase_img .detail {
    text-align: left;
    color: #828282;
    display: inline-block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    vertical-align: top;
}

.showcase_img h2 {
    font-size: 40px;
}

.back {
    bottom: 0px;
    text-align: center;
}
