<html>
    <head>
        <style>
            body { background-color: #e5e6e5; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
            h1 { color: #8d8e8d; text-align: center;  font-weight:normal; font-size: 35px; margin-top: 5px; }
        </style>
        <title>Wiki's Blog</title>
    </head>
    <body>
        <h1><a href="/blog">Blog</a></h1>
        {% for post in posts %}
            <div class="post">
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>