body {
    background-color: #e5e6e5;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 15px;
}

h1 {
    color: #c25100;
    text-align: center;
    font-weight:normal;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    margin-top: 5px;
}
h1, h2 {
    font-family: 'Amatic SC', cursive;
    color: #c25100;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    color: #c25100;
    text-decoration: none;
}

