body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.page-header {
    background-color: #e5e6e5;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-size: 50pt;
    font-weight: bold;
    color: #8d8e8d;
    text-decoration: none;
    text-align: center;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Amatic SC', cursive;
    color: #8d8e8d;
}

h2 {
    font-size: 50px;
}

h2 a {
    color: #8d8e8d;
    text-decoration: none;
}

h2 a:hover {
    color: #42548a;
    text-decoration: none;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.showcase-post {
    margin-bottom: 70px;
}

.more-posts {
    float: left;
    position: inline;
    width: 25%;
    margin-right: 25px;
}

.more-posts h2 {
    font-size: 35px;
}
